@model SolutionViewModel

@{
    ViewData["Title"] = Model.Solution?.Subdomain;
}

@if (Model.Solution != null)
{
    @if (Model.Solution.Pages != null && Model.Solution.Pages.Any())
    {
        @*<nav class="nav nav-pills nav-fill navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="alert alert-primary">@Model.Solution.Subdomain</div>

                @foreach (var page in Model.Solution.Pages)
                {
                    if (page != null)
                    {
                        <a asp-action="Page" asp-controller="Preview" asp-route-id="@(page.Id)" class="nav-link">@(page.PageName)</a>
                    }
                }
            </nav>*@
        <div class="container" style="text-align:center">

            @foreach (var page in Model.Solution.Pages)
            {
                if (page != null)
                {
                    <div class="card mb-2">
                        <div class="card-header">@(page.PageName)</div>
                        <div class="card-body">
                            <iframe style="min-height: 25em; min-width:100%" src="@Url.Action("Page","Preview", new {id = page.Id})"></iframe>
                        </div>
                        <div class="card-footer">
                            <a href="#">Edit page</a>
                        </div>
                    </div>
                }
            }
        </div>
    }
}