@model vomsProject.Models.HomePageViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="container py-4">
        <header class="pb-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
                <h1>VOMS - Get your CMS on.</h1>
            </a>
        </header>

        <div class="p-5 mb-4 bg-light rounded-3">
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold text-center">Visual Object Management System</h1>
                <p class="col-md-12 fs-4">VOMS, or Visual Object Management System, is created by Victor Obeling and Mikkel Sejersen as a school project to showcase their abilites within programming. Complete our product-flow below by following the button to get started!</p>
                <div id="list-example" class="list-group text-center">
                    <a class="list-group-item list-group-item-action" href="#list-item-1">See our product here</a>
                </div>
            </div>
        </div>

        <div class="row align-items-md-stretch">
            <div class="col-md-6">
                <div class="h-100 p-5 text-white bg-dark rounded-3">
                    <h2>Viktor Obeling</h2>
                    <p>Viktor comes from dnp VisioSign an works a backend developer. </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="h-100 p-5 bg-light border rounded-3">
                    <h2>Mikkel Sejersen</h2>
                    <p>Mikkel comes from Kraftvaerk A/S as a backend consultant.</p>
                </div>
            </div>
        </div>
    </div>
    <div>
        <h3>Need inspiration for your site? See all of our solutions below!</h3>

        @foreach (var solution in Model.Solutions)
        {
            if (solution != null)
            {
                if (User.Identity.IsAuthenticated)
                {
                    <a asp-action="Solution" asp-controller="Preview" asp-route-id="@solution.Id" class="m-2">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">@solution.Subdomain</h3>
                            </div>
                            <div class="card-body">
                                @foreach (var permission in solution.Permissions)
                                {
                                    <p class="card-text">@permission.User</p>
                                }

                            </div>
                        </div>
                    </a>
                }
                else
                {
                    <a href="@(solution.DestinationUrl)" class="m-2">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">@solution.Subdomain</h3>
                            </div>
                        </div>
                    </a>
                }
            }
        }
    </div>
    <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-offset="0" class="scrollspy-example" tabindex="0">
        <div class="row" id="list-item-1">
            <div class="col-sm-4">
                <div class="card mb-2">
                    <div class="card-body" style="text-align: center">
                        <h5 class="card-title">Community Edition</h5>
                        <p class="card-text" style="min-height:8em">
                            The Community Edition supports up to 4 active solutions-ownerships and no limitation on how many solutions you can be an editor in.
                        </p>
                        <img src="https://www.elegantthemes.com/blog/wp-content/uploads/2020/09/community-update-august-2020-scaled.jpg" style="max-height: 10em; max-width: 100%" />
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Register" asp-route-productVersion="Community">Register your Community Edition user here!</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 mb-2">
                <div class="card">
                    <div class="card-body" style="text-align: center">
                        <h5 class="card-title">Professional Edition</h5>
                        <p class="card-text" style="min-height:8em">
                            The Professional Edition supports up to 20 active solution-ownerships and no limitation on how many solutions you can be an editor in.
                            It also adds the ability to create custom stylesheets for the Community to use.
                        </p>
                        <img src="https://www.careeraddict.com/uploads/article/59099/illustration-man-suit.jpg" style="max-height: 10em; max-width: 100%" />
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Register" asp-route-productVersion="Professional">Register your Professional Edition user here!</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card mb-2">
                    <div class="card-body" style="text-align: center">
                        <h5 class="card-title">Enterprise Edition</h5>
                        <p class="card-text" style="min-height:8em">
                            The Enterprise Edition supports unlimited active solution-ownerships and no limitation on how many solutions you can be an editor in.
                            It includes the previous abilities aswell as the ability to create custom domains etc...
                        </p>
                        <img src="https://www.macmillandictionaryblog.com/wp-content/uploads/2017/08/enterprise-810x494.jpg" style="max-height: 10em; max-width: 100%" />
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Register" asp-route-productVersion="Enterprise" >Register your Enterprise Edition user here!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
