@model vomsProject.Models.HomePageViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">VOMS, your one-stop destination for awesome things</h1>
    <p>Need inspiration for your site? See all of our solutions below!</p>

    @foreach (var solution in Model.Solutions)
    {
        if (solution != null)
        {
            if (User.Identity.IsAuthenticated)
            {
                <a asp-action="Solution" asp-controller="Preview" asp-route-id="@solution.Id" class="m-2">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">@solution.Subdomain</h3>
                        </div>
                        <div class="card-body">
                            @foreach (var permission in solution.Permissions)
                            {
                                <p class="card-text">@permission.User</p>
                            }

                        </div>
                    </div>
                </a>
            }
            else
            {
                <a href="@(solution.DestinationUrl)" class="m-2">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">@solution.Subdomain</h3>
                        </div>
                    </div>
                </a>
            }
        }
    }
</div>
