@using Microsoft.AspNetCore.Identity
@using vomsProject.Data
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@model IEnumerable<Solution>
@{
    var colClass = "";
}

<div class="container-xxl">
    @if (SignInManager.IsSignedIn(User))
    {
        <h3>Hello @User.Identity.Name!</h3>

        if (Model != null)
        {
            colClass = (Model.Count() == 1 ? "col-sm" : 
                (Model.Count() == 2 ? "col-sm-4" : 
                    (Model.Count() >= 3 ? "col-sm-3" : "col-sm")));
            if (Model.Count() == 1)
            {
                <h4>Here is your solution:</h4>
            }
            else
            {
                <h4>Here are your solutions:</h4>
            }

            <div class="row mb-3">
                @foreach (var solution in Model)
                {
                    if (solution != null)
                    {
                        <div class="@colClass">
                            <div class="card" style="width: 18rem;">
                                <div class="card-header">
                                    <h5 class="card-title">Title: @solution.Subdomain</h5>
                                    <p class="card-text">id: @solution.Id</p>
                                </div>
                                <div class="card-body">
                                    <p>Assigned users: </p>
                                    @foreach (var permission in solution.Permissions)
                                    {
                                        <p>@permission.User.UserName</p>
                                    }
                                </div>
                                <div class="card-footer">
                                    <div class="btn-group">
                                        @Html.ActionLink("Login", "LoginToSolution", "Admin", new { id = solution.Id }, new { @class = "btn btn-primary" })
                                        @Html.ActionLink("Site", "SolutionOverview", "Admin", new { id = solution.Id }, new { @class = "btn btn-primary" })
                                        @Html.ActionLink("Delete", "DeleteSolution", "Admin", new { id = solution.Id }, new { @class = "btn btn-primary" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        }
        <h4>Create a solution here</h4>
        <div class="card">
            @using (Html.BeginForm("Index", "Admin", FormMethod.Post))
            {
                <div class="card-body">
                    <div class="input-group m-2">
                        <label class="input-group-text" for="title">Title</label>
                        <input type="text" id="title" name="title" class="form-control" />
                    </div>
                    <div class="input-group m-2">
                        <label class="input-group-text" for="users">Users</label>
                        <input type="text" id="users" name="users" class="form-control" />
                    </div>
                    <h6 class="card-subtitle text-muted font-weight-lighter m-2">Separate users by comma, i.e. "email1@email.com,email2@email.com,email3@email.com".</h6>
                    <input id="Submit" type="submit" value="submit" class="btn btn-primary mb-3" />
                </div>
            }
        </div>

    }
    else
    {
        <h3>You do not have access to this page, please click on either of the buttons below.</h3>
        <div class="btn-group">
            <a class="btn btn-info" asp-area="Identity" asp-page="/Account/Register">Register</a>
            <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </div>
    }
</div>