@using Microsoft.AspNetCore.Identity
@using vomsProject.Data
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@model IEnumerable<Solution>

<div class="container">
    @if (SignInManager.IsSignedIn(User))
    {
        <h3>Hello @User.Identity.Name!</h3>

        if (Model != null)
        {
            if (Model.Count() == 1)
            {
                <h4>Here is your solution:</h4>
            }
            else
            {
                <h4>Here are your solutions:</h4>
            }


            <div class="Solutions" style="width: 18rem;">
                @foreach (var solution in Model)
                {
                    if (solution != null)
                    {
                        <div class="card card-body m-2">
                            <h5>Title: @solution.Subdomain</h5>
                            <p>id: @solution.Id</p>
                            <p>Assigned users: </p>
                            @foreach (var user in solution.Users)
                            {
                                <p>@user.UserName</p>
                            }
                            <div class="btn-group">
                                @Html.ActionLink("Site", "SolutionOverview", "Admin", new { id = solution.Id }, new { @class = "btn btn-primary m-2" })
                            </div>
                        </div>
                    }
                }
            </div>
        }
        <h4>Create a solution here</h4>
        <div class="card">
            @using (Html.BeginForm("Index", "Admin", FormMethod.Post))
            {
                <div class="input-group m-2">
                    <label class="input-group-text" for="title">Title</label>
                    <input type="text" id="title" name="title" class="form-control" />
                </div>
                <div class="input-group m-2">
                    <label class="input-group-text" for="users">Users</label>
                    <input type="text" id="users" name="users" class="form-control" />
                </div>
                <h6 class="card-subtitle text-muted font-weight-lighter m-2">Separate users by comma, i.e. "email1@email.com,email2@email.com,email3@email.com".</h6>
                <input id="Submit" type="submit" value="submit" class="btn btn-primary mb-3" />
            }
        </div>

    }
    else
    {
        <h3>You do not have access to this page, please click on either of the buttons below.</h3>
        <div class="btn-group">
            <a class="btn btn-info" asp-area="Identity" asp-page="/Account/Register">Register</a>
            <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </div>
    }
</div>