@using Microsoft.AspNetCore.Identity
@using vomsProject.Data
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@model IEnumerable<Solution>

<div>
    @if (SignInManager.IsSignedIn(User))
    {
        <h3>Hello @User.Identity.Name!</h3>
        <p>Here are your solution(s)</p>

        if (Model != null)
        {
            <div class="Solutions card" style="width: 18rem;">
                @foreach (var solution in Model)
                {
                    if (solution != null)
                    {
                        <a href="#">
                            <div class="card-body">
                                <h5>Title: @solution.Subdomain</h5>
                                <p>Id: @solution.Id</p>
                                <p>Assigned users: </p>
                                @foreach (var user in solution.Users)
                                {
                                    <p>@user.UserName</p>
                                }
                            </div>
                        </a>
                    }
                }
            </div>

            <div class="mb-3 mt-3 row justify-content-center" style="border: 1px black solid; text-align: center">
                @using (Html.BeginForm("CreateProject", "Admin", FormMethod.Post))
                {
                    <div class="col-auto mb-2 mt-2">
                        <span class="visually-hidden">Enter the title of your project:</span> 
                        @Html.TextBox("title", null, new { @style = "form-control-plaintext" }) <br />
                    </div>
                    <div class="col-auto mb-2 mt-2">
                        <span class="visually-hidden">Please enter the specified users emailaddress', separated by comma: </span> <br />
                        @Html.TextArea("users", null, new { @style = "form-control-plaintext" })
                    </div>
                    <input id="Submit" type="submit" value="submit" class="btn btn-primary mb-3" />
                }
            </div>
        }
    }
    else
    {
        <h3>You do not have access to this page, please click on either of the buttons below.</h3>
        <div class="btn-group">
            <a class="btn btn-info" asp-area="Identity" asp-page="/Account/Register">Register</a>
            <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </div>
    }
</div>