@using Microsoft.AspNetCore.Identity
@using vomsProject.Data
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@model PageOverview

<div class="Solutions mb-3">
    <h3>Here are you pages:</h3>
    @foreach (var thePage in Model.Pages)
    {
        <div class="card m-2" style="width: 18rem">
            <div class="card-body">
                <h5 class="card-title">@thePage.PageName</h5>
            </div>
            <div class="card-body">
                @Html.ActionLink("See content", "index", "Page", new { id = thePage.Id }, new { @class="card-link"})
                @Html.ActionLink("Delete page", "RemovePage", "Admin", new { id = thePage.Id, solutionId = Model.SolutionId }, new { @class = "card-link" })
            </div>
        </div>
    }
</div>


<div class="card m-2">
    <h5 class="card-title">Page-creation</h5>
    <h6 class="card-subtitle">In this section you can create new pages for your solution</h6>
    <div class="mb-3 mt-3 row justify-content-center">
        <form asp-action="CreatePage" asp-controller="Admin" method="post">
            <div class="input-group mb-2 mt-2">
                <label class="input-group-text">Enter the title of your page:</label>
                <input class="form-control" type="text" id="title" name="title" />
            </div>
            <div style="display: none">
                <input type="text" name="id" value="@Model.SolutionId" />
            </div>
            <input type="submit" value="Create page" class="btn btn-primary mb-3" />
        </form>
    </div>
</div>

<div class="card m-2">
    <h5 class="card-title">Solution-options</h5>
    <h6 class="card-subtitle mb-2">In this section you can add or remove user-access to this solution, and, if needed, delete this solution as well.</h6>
    <div class="card-body">
        <h5 class="card-title">Users</h5>
        @if (Model.Solution.Users != null)
        {
            @foreach (var user in Model.Solution.Users)
            {
                <div class="m-2">
                    <h5 class="card-title mb-2">@user.UserName</h5>
                    @Html.ActionLink("Remove", "RemoveUser", "Admin", new { Id = user.Id, solutionId = Model.SolutionId }, new { @class = "card-link" })
                </div>
            }
        }
        <h5 class="card-title mt-5">Add new user</h5>
        <form asp-action="AddUser" asp-controller="Admin" method="post">
            <div class="input-group mb-2 mt-2">
                <label class="input-group-text">Enter an email-address for a specific user:</label>
                <input class="form-control" type="email" id="userEmail" name="userEmail" />
            </div>
            <div style="display: none">
                <input type="text" name="solutionId" value="@Model.SolutionId" />
            </div>
            <input type="submit" value="submit" class="btn btn-primary mb-3" />
        </form>
    </div>
</div>