@using Microsoft.AspNetCore.Identity
@using vomsProject.Data
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject vomsProject.Helpers.DomainHelper domainHelper

@model PageOverview

@{
    var friendlyName = !string.IsNullOrWhiteSpace(Model.Solution.FriendlyName) ? Model.Solution.FriendlyName : "";
    var domainName = !string.IsNullOrWhiteSpace(Model.Solution.Domain) ? Model.Solution.Domain : "";
    var favIcon = Model.Solution.Favicon != null ? Model.Solution.Favicon : null;
}

<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Admin panel</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">On this page you can configure your solution to your needs in a simple, easy and fast maner. Have fun!</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="#pagesManagement" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">Pages management</a>
            <a href="#solutionManagement" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">Solution management</a>
        </div>
    </div>
</div>

<div class="bg-light rounded-3 mb-2" data-bs-spy="scroll" data-bs-target="#pagesManagement" data-bs-offset="0" tabindex="0">
    <div class="container-fluid" id="pagesManagement">
        <h2 class="fw-bold">Pages management:  </h2>
        <h3>Pages overview</h3>
        <table class="table table-responsive table-bordered table-hover">
            <thead>
                <tr>
                    <th scope="col">Last edited by/ publish time</th>
                    <th scope="col">Page name & link to page</th>
                    <th scope="col">Manage page</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var page in Model.Pages)
                {
                    var pagename = !string.IsNullOrWhiteSpace(page.PageName) ? page.PageName : "(Index page)";

                    <tr>
                        <td>
                            <div class="font-weight-bolder">@(page.PublishedVersion != null ? page.PublishedVersion.SavedBy.Nickname : "Administrator")</div>
                            <div class="w-50 font-weight-lighter">@(page.PublishedVersion != null ? page.PublishedVersion.SaveDate : "Not published yet" )</div>
                        </td>
                        <td><a href="@Url.Action("LoginToSolution", "Admin", new { id = Model.SolutionId, page.PageName })" class="card-link">@(pagename)</a></td>
                        <td>@Html.ActionLink("Delete page", "RemovePage", "Admin", new { id = page.Id, solutionId = Model.SolutionId }, new { @class = "btn btn-danger" })</td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="mb-3 mt-3 row">
            <form asp-action="CreatePage" asp-controller="Admin" method="post">
                <div class="input-group-lg mb-2 mt-2">
                    <label class="form-label">Page name:</label>
                    <input class="form-control" type="text" id="title" name="title" />
                </div>
                <div style="display: none">
                    <input type="text" name="id" value="@Model.SolutionId" />
                </div>
                <input type="submit" value="Create page" class="btn btn-success mb-3" />
            </form>
        </div>
        <a class="mb-1 btn btn-outline-dark" href="@Url.Action("DeletedPages", "Admin", new { id = Model.SolutionId })" style="text-decoration: none">
            <h3>
                Recycle Bin
                <svg style="height: 1em; vertical-align: bottom;" viewBox="0 0 115 170" xmlns="http://www.w3.org/2000/svg" fill="white" stroke="black" stroke-width="10">
                    <rect x="15" y="65" width="80" height="100" />
                    <rect x="05" y="25" width="100" height="20" />
                    <path d="M 35 20 V 05 h 40 V 20" fill="transparent" />
                    <line x1="35" x2="35" y1="80" y2="150" />
                    <line x1="55" x2="55" y1="80" y2="150" />
                    <line x1="75" x2="75" y1="80" y2="150" />
                </svg>
            </h3>
        </a>
    </div>
</div>

<div class="bg-light rounded-3" data-bs-spy="scroll" data-bs-target="#solutionManagement" data-bs-offset="0" tabindex="0">
    <div class="container-fluid">
        <h2 class="fw-bold">Solution management:  </h2>
        <form asp-action="UpdateSolution" asp-controller="Admin" method="post" enctype="multipart/form-data">
            <div class="input-group-lg mb-3" id="solutionManagement">
                <label class="form-label">Select a stylesheet: </label>
                <select class="form-select col-8" name="stylesheet">
                    @foreach (var style in Model.StyleSheets)
                    {
                        if (Model.SelectedStyleId == style.Id)
                        {
                            <option value="@style.Id" selected>@style.Text</option>
                        }
                        else
                        {
                            <option value="@style.Id">@style.Text</option>
                        }
                    }
                </select>
            </div>
            <div class="input-group-lg mb-3">
                <label class="form-label" for="friendlyName">Friendly name:</label>
                <input type="text" class="form-control col-8" id="friendlyName" name="friendlyName" value="@friendlyName">
            </div>

            @if (Model.User.ProductVersion == ProductType.Professional || Model.User.ProductVersion == ProductType.Enterprise)
            {
                <div class="input-group-lg mb-3">
                    <label class="form-label" for="domainName">Custom Domain:</label>
                    <input type="text" class="form-control col-8" id="domainName" name="domainName" value="@domainName">
                </div>
            }

            <div class="input-group-lg mb-3">
                <label class="form-label" for="favicon">Upload favicon:</label>
                <input type="file" class="form-control col-8" id="favicon" name="favicon">
                <img src="@(Url.Action("GetSolutionFavicon", "Admin", new { solutionId = Model.SolutionId }))" style="max-width: 10rem; max-height: 10rem" />
            </div>

            <div style="display: none">
                <input type="text" name="solutionId" value="@Model.SolutionId" />
            </div>
            <input type="submit" value="Update solution" class="btn btn-success mb-3" />
        </form>
        <table class="table table-responsive table-bordered table-hover mb-0">
            <thead>
                <tr>
                    <th scope="col">Nickname</th>
                    <th scope="col">Username</th>
                    <th scope="col">Delete user</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var permission in Model.Solution.Permissions)
                {
                    <tr>
                        <th scope="row">@(permission.User.Nickname ?? "N/A")</th>
                        <td class="">@permission.User.UserName</td>
                        <td>@Html.ActionLink("Remove", "RemoveUser", "Admin", new { id = permission.User.Id, solutionId = Model.SolutionId }, new { @class = "btn btn-danger" })</td>
                    </tr>
                }
            </tbody>
        </table>
        <h1 class="fw-bold">Add a new user:  </h1>
        <form asp-action="AddUser" asp-controller="Admin" method="post">
            <div class="input-group-lg mb-2 mt-2">
                <label class="form-label">Assign through email</label>
                <input class="form-control" type="email" id="userEmail" name="userEmail" />
            </div>
            <div style="display: none">
                <input type="text" name="solutionId" value="@Model.SolutionId" />
            </div>
            <input type="submit" value="Add user" class="btn btn-success mb-3" />
        </form>
    </div>
</div>

